body, html {
    font-family: "Courier New", Courier, monospace;
    color: #f5f5f5;
    background: #3c373c; /* Updated dark background */
    margin: 0;
    padding: 20px;
    display: vertical;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

h1, h2, label, .gradient-link a {
    background: linear-gradient(to right, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Maintain gradient text effect */
   
    padding: 0;
    margin: 10px 0;
    margin-top:     0px;
}

label {
    margin-top: 30px;
    display: inline-block;
}

textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    padding: 10px;
    margin-top: 5px;
    background-color: #555; /* Slightly lighter than body for contrast */
    color: #f5f5f5; /* Adjusted for readability */
    border: 1px solid #777;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background: linear-gradient(to right, #ff6a00, #ee0979);
    color: rgb(210, 210, 210);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.8;
}

#privateKey {
    font-family: "Courier New", Courier, monospace;
    color: #ff6a00; /* Highlight color */
    padding: 10px;
    border-radius: 5px;
}

#algoTitle {
    margin-top: 50px;
}

p a {
    color: #ff6a00;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
